extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/product-grid.pug
block main 
    +showAlertSuccess('3000')
    +showAlertError('3000')
    .container.mt-5
        +box-head('Danh sách sản phẩm test', 'Dưới đây là các sản phẩm hiện có trong cửa hàng của chúng tôi.')

        +product-grid(products)
    

    


