extends ../../layouts/default.pug


block main 
    h1 Chào mừng bạn đến với trang quản trị!
    p Đây là trang dashboard dành cho quản trị viên. Bạn có thể quản lý sản phẩm, đơn hàng và người dùng tại đây.
    ul
        li Quản lý sản phẩm
        li Quản lý đơn hàng
        li Quản lý người dùng
    div #{user}
    div #{role}

    
    