header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="#") ADMIN

      .col-9.text-end
        a(
          href="#"
          class="btn btn-primary btn-sm me-2"
        ) Gia
        a(
          href="#"
          class="btn btn-danger btn-sm"
        ) Đăng xuất